.login {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .login-content {
    width: 680px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    &__form {
      width: 320px;
    }

    &__form-forgot {
      float: right;
    }

    &__form-button {
      width: 100%;
    }

    &__extra {
      margin-bottom: 15px;
    }
  }
}
